Base_Datos/Connected Services/ServiceReference1/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Registrarse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nombre" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="apellido" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="direccion" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="fec_nac" type="xs:dateTime" />
        <xs:element minOccurs="0" name="usuario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="contra" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegistrarseResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Loguearse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="usuario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="contra" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoguearseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LoguearseResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>