Citas Medicas/Connected Services/ServiceReference1/Service12.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Base_Datos" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Base_Datos" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Paciente">
    <xs:sequence>
      <xs:element minOccurs="0" name="Apellido" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CUI" type="xs:int" />
      <xs:element minOccurs="0" name="Carrera" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Contrasena" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Correo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Direccion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Fec_Nac" type="xs:dateTime" />
      <xs:element minOccurs="0" name="GrupoSanguineo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PacienteId" type="xs:int" />
      <xs:element minOccurs="0" name="Usuario" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="VacunasCovid" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Paciente" nillable="true" type="tns:Paciente" />
  <xs:complexType name="Doctor">
    <xs:sequence>
      <xs:element minOccurs="0" name="Apellido" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Correo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Direccion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Especialidad" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FechaNacimiento" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Doctor" nillable="true" type="tns:Doctor" />
  <xs:complexType name="ArrayOfEspecialidad">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Especialidad" nillable="true" type="tns:Especialidad" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEspecialidad" nillable="true" type="tns:ArrayOfEspecialidad" />
  <xs:complexType name="Especialidad">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="NEspecialidad" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Especialidad" nillable="true" type="tns:Especialidad" />
  <xs:complexType name="ArrayOfCita">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Cita" nillable="true" type="tns:Cita" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCita" nillable="true" type="tns:ArrayOfCita" />
  <xs:complexType name="Cita">
    <xs:sequence>
      <xs:element minOccurs="0" name="Diagnostico" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Duracion" type="xs:float" />
      <xs:element minOccurs="0" name="Especialidad" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Estado" type="xs:boolean" />
      <xs:element minOccurs="0" name="Fecha" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="MedicoId" type="xs:int" />
      <xs:element minOccurs="0" name="Paciente" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PacienteId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Cita" nillable="true" type="tns:Cita" />
  <xs:complexType name="ArrayOfHorario">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Horario" nillable="true" type="tns:Horario" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfHorario" nillable="true" type="tns:ArrayOfHorario" />
  <xs:complexType name="Horario">
    <xs:sequence>
      <xs:element minOccurs="0" name="Anio" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Dia" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Hora" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Medico" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Mes" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Minutos" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Horario" nillable="true" type="tns:Horario" />
  <xs:complexType name="ArrayOfDoctor">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Doctor" nillable="true" type="tns:Doctor" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDoctor" nillable="true" type="tns:ArrayOfDoctor" />
  <xs:complexType name="ArrayOfReporte">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Reporte" nillable="true" type="tns:Reporte" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfReporte" nillable="true" type="tns:ArrayOfReporte" />
  <xs:complexType name="Reporte">
    <xs:sequence>
      <xs:element minOccurs="0" name="Cantidad" type="xs:int" />
      <xs:element minOccurs="0" name="Fecha" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Reporte" nillable="true" type="tns:Reporte" />
</xs:schema>